body{
    background-color: #f5deb3;
}

/* Changes outside the list box */

.menu ul {

    text-align: center;
    background-color: #704d0f;
    list-style: none;
}

/* Changes the list */

.menu ul li {
    float: left;
    width: 200px;
}

/* Changes list text */

.menu ul li a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

/* Changes list text IF the mouse is on it */

.menu ul li a:hover {
    color: #2d1f06;
}