html, body {
    margin: 0;
}

body {
    background: url(img/fundo.webp);
    background-repeat: no-repeat;
    background-size: 100%, 100%;  
}

#titulo {
    padding-top: 20%;
    font-size: 60px;
    line-height: 0.6;
}

#subtitulo {
    margin-left: 20%;
    margin-right: 20%;
    border-top: 3px solid;
}

#acao {
    border: 1px solid;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: currentColor;
}

#acao:hover{
    text-decoration: underline;
}

#intro {
    text-align: center;
    color: crimson;
}