* {
    margin: 0;
}

a:hover{
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: inherit;
}

#intro {
    color: #f88;
    background: url("img/fundo.webp");
    background-position: center;
    height: 100%;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
}

#intro h1 {
    padding-top: 20%;
    font-size: 70px;
    line-height: 0.6;
    
}

#intro h2 {
    margin: 20px 0px;
    margin-left: 20%;
    margin-right: 20%;
    border-top: 3px solid;
    text-shadow: 1px 1px crimson;
}

#intro a {
    border: 1px #f88 solid;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
}

.darker {
    background-color: #f7f7f7;
}

.organized h1, h2, h3, h4, h5, h6, p, img , iframe {
    padding: 0px 0px 20px 20px;
}

.linkintext {
    padding: 0;
}

section p {
    width: 50%;
}

#subjects img{
    width: 50px;
}